html, body {
    margin: 0 auto;
    padding: 0;
}
body, .post-img {
	display: block;
	width: 375px;
	margin: 0 auto;
	padding: 0;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 67px;
	border-bottom: solid 1px #C6C6C6;
}
.post-content {
	
	height: 545px;
	padding: 0px;
	background: #F5F5F5;	
}
#post-content-3{
	background: #FFFFFF;	
}

.head-post-content {
	display: flex;
	align-items: center;
	padding: 10 10px 0px 10px;
	margin-bottom: 11px;
}
.footer-post-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 0 10px 0px 10px;
}
#main-logo {
	width: 127px;
}
.avatar {
	width: 34px;
	height: 34px;
	border-radius: 50%;
}
.description {
	display: block;
	margin-left: 7px;
}
H1, H2 {
	font-family: 'Source Sans Pro';
	margin: 0;
}
H1 {
	font-size: 13px;
	font-weight: 700;
}
H2 {
	font-size: 12px;
	font-weight: 400;
}
.reactions {
	display: block;
	margin-top: 21px;
	}
.icons {
	width: 20px;
	height: 20px;
	margin-top: 0px;
}
.icons:hover {
	filter: opacity(50%);
}
.likes {
	display: block;
	margin-top: 12px;
}
.comments {
	margin-top: 12px;
}
H1 .comment {
	font-weight: 400;
}



